PROJECT_NAME=Chilemei Backend
API_V1_PREFIX=/api/v1
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DB=chilemei
MYSQL_CHARSET=utf8mb4
SECRET_KEY=replace-this-with-a-long-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=10080
AUTO_CREATE_TABLES=false
WECHAT_APP_ID=
WECHAT_APP_SECRET=
WECHAT_CODE2SESSION_URL=https://api.weixin.qq.com/sns/jscode2session
WECHAT_COS_GETAUTH_URL=http://api.weixin.qq.com/_/cos/getauth
WECHAT_COS_META_ENCODE_URL=https://api.weixin.qq.com/_/cos/metaid/encode
STORAGE_REQUEST_TIMEOUT=10
STORAGE_ROOT_DIR=media
FOOD_UPLOAD_DIR=food
TEMP_UPLOAD_DIR=tmp
COS_BUCKET=6368-chilemei-backend-5fyl0ivfcc9347f-1328995507
COS_REGION=ap-shanghai
COS_PUBLIC_DOMAIN=https://chilemei-240951-4-1328995507.sh.run.tcloudbase.com
COS_SECRET_ID=
COS_SECRET_KEY=
COS_SESSION_TOKEN=
COS_SCHEME=https
